@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap");

:root {
  --wrapper: 1440px;
  --Cyan: hsl(180, 66%, 49%);
  --DarkViolet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  max-width: var(--wrapper);
  margin: 2rem auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  position: absolute;
  margin-left: 10rem;
}

.header__list {
  display: flex;
  list-style: none;
  flex: 5;
  justify-content: center;
  align-items: right;
  gap: 2rem;
  margin-left: 3rem;
  color: var(--GrayishViolet);
}

.header__item {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  font-weight: 700;
}

.header__item:hover {
  color: var(--DarkViolet);
}

.header__button {
  margin-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--GrayishViolet);
  border: none;
}

.link__btn {
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s all ease-in-out;
}

.link__btn:hover {
  color: var(--DarkViolet);
}

.btn {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  color: white;
  background-color: var(--Cyan);
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background-color: hsl(180, 66%, 59%);
}

.fila {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--wrapper);
  margin: 10rem auto;
  align-items: center;
  width: 100%;
}

.columna {
  flex: 50%;
  max-width: 50%;
  height: 60vh;
  align-items: center;
  flex-wrap: wrap;
}

.main__hero {
  margin-right: 2rem;
}
.main__banner_img {
  max-width: 100%;
}

.hero__tittle {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  color: var(--VeryDarkBlue);
}

.hero__text {
  margin-right: 15rem;
  font-size: 18px;
  margin-bottom: 2rem;
  color: var(--GrayishViolet);
}

.hero__imput {
  background-image: url("./../images/bg-shorten-desktop.svg");
  background-color: var(--DarkViolet);
  max-width: var(--wrapper);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  border-radius: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.imput__space {
  padding: 1rem 28rem;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: left;
}

.btn__imput {
  padding: 1rem 3rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  color: white;
  background-color: var(--Cyan);
  transition: 0.3s all ease-in-out;
}

.btn__imput:hover {
  background-color: hsl(180, 66%, 59%);
}

.wraper {
  background-color: rgb(235, 235, 235);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  margin-top: -15rem;
  padding: 15rem;
  width: 100%;
}

.tittle__2 {
  text-align: center;
}

.h2_wraper {
  font-size: 2.5rem;
  color: var(--VeryDarkBlue);
  margin-bottom: 1rem;
}

.text_wraper {
  color: var(--GrayishViolet);
  font-size: 18px;
  padding-bottom: 5rem;
}

.cards {
  display: flex;
  flex: 3;
  gap: 4rem;
  margin-bottom: 20rem;
  padding-bottom: 25rem;
}

.card1 {
  background-color: white;
  padding: 4rem 2rem;
  border-radius: 20px;
  height: 20rem;
  align-items: center;
}

.card2 {
  margin-top: 4rem;
  background-color: white;
  padding: 4rem 2rem;
  border-radius: 20px;
  height: 20rem;
  align-items: center;
}

.card3 {
  margin-top: 8rem;
  background-color: white;
  padding: 4rem 2rem;
  border-radius: 20px;
  height: 20rem;
  align-items: center;
}

.h3__wraper {
  font-size: 1.5rem;
  color: var(--VeryDarkBlue);
  margin-bottom: 1rem;
}

.wraper__text {
  font-size: 18px;
  font-weight: 500;
  color: var(--GrayishViolet);
}

.cta {
  height: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--DarkViolet);
  background-image: url(./../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;


}

.h2__cta{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1.5rem;

}